<!doctype html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}" />
        <title>GUDLFT</title>
    </head>
        <div class="top_bar">
            <p class="title_centered"><strong>GUDLFT</strong></p>
        </div>
    <br/><br/>

 <table>
      <thead>
      </thead>
      <tbody>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for message in messages %}
        <tr>
            <td class="{{messages[0][0]}}"> {{messages[0][0]|capitalize}} : {{messages[0][1]}} <br/></td>
        </tr>
    {% endfor %}

  {% endif %}
{% endwith %}
      </tbody>
 </table>

{% block body %}
{% endblock %}