<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}" />
        <title>GUDLFT</title>
    </head>
    <body>
        <div class="top_bar">
            <p class="title_centered"><strong>GUDLFT</strong></p>
        </div>
    </br></br>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li class="{{ messages[0][0] }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        {% block body %}{% endblock %}