{% extends "base.html" %}
{% block body %}
    <h2>Welcome, {{club['email']}} </h2>
    <a href="{{url_for('logout')}}">Logout</a>

    Points available: {{club['points']}}
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br/>
            Date: {{comp['date']}}<br/>
            Number of Places: {{comp['numberOfPlaces']}}<br/>
            Already booked: {{bookings[comp['name']]}}

            {%if comp['numberOfPlaces']|int >0%}
                <br/>
                <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {% else %}
                <p class="all_booked">All booked</p>
            {%endif%}
            <br/>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
